/* すべてのページに適用される設定 */
html {
    font-size: 16px;
    font-family: sans-serif;
}

p,li,td {
    line-height:1.7;
}


/* すべてのページに適用 - ヘッダー */

/* すべてのページに適用 - ヒーロー */

/* すべてのページに適用 - メイン */
main h2{
    color: #253958;
    font-size: 1.3rem;
}

/* すべてのページに適用 - フッター */

/* 個別のスタイル */
/* index.html */
