/* すべてのページに適用される設定 */
html {
    font-size: 16px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 0 0 0;
}

p,
li,
td {
    line-height: 1.7;
}

a:link {
    color: #F07D34;
    text-decoration: none;
}

a:visited {
    color: #F07D34;
    text-decoration: none;
}

a:hover {
    color: #F07D34;
    text-decoration: underline;
}

a:active {
    color: #F07D34;
    text-decoration: underline;
}

/* すべてのページに適用 - ヘッダー */
.logo {
    text-align: center;
}

.nav a:link {
    color: #253958;
}

.nav a:visited {
    color: #253958;
}

.nav a:hover {
    text-decoration: none;
}

.nav a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {
    padding: 40px;
    background-image: url(../images/stripe.png);
    background-repeat: repeat-x;
}

.nav ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    gap: 40px;
}

/* すべてのページに適用 - ヒーロー */
.hero {
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;
    color: white;
}

.hero.index {
    padding: 287px 0;
    background-image: url(../images/home-hero.jpg);
}

/* すべてのページに適用 - メイン */
main {
    margin: 90px auto 90px auto;
    max-width: 1000px;
}

main h2 {
    color: #253958;
    font-size: 1.3rem;
    border-bottom: 2px solid #253958;
    margin: 60px 0 20px 0;
    padding-bottom: 5px;
}

.logo-whale {
    text-align: center;
}

.shop-info{
    border-collapse: collapse;
}

.shop-info th{
    width: 112px;
    text-align: left;
    vertical-align: top;
}

.shop-info th, .shop-info td{
    border: 1px solid #DBDBDB;
    padding: 20px;
}

/* すべてのページに適用 - フッター */
.gotop {
    text-align: center;
}

.copyright {
    background-color: #253958;
    color: white;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 20px;
    margin-bottom: 0;
}

/* 個別のスタイル */
/* index.html */
